# Day 1 of Python challenge

## Introduction - Arithmetic Operation

In [2]:
# addtition (+)
print(2+3)

5

In [5]:
# Subtraction (-)
print (3 -1)

2

In [6]:
# Multiplication (*)
print(2 * 3)

6

In [7]:
# Division (/)
print( 3 / 2)

1.5

In [9]:
# Exponential (**)
print (3 ** 2)

9

In [10]:
# Modulus (%)
print ( 3 % 2)

1

In [11]:
# Floor Division operator
print ( 3//2)

1

## Checking Data type

In [12]:
#int 

print (type(10))

<class 'int'>

In [13]:
# Float


print (type(10.5))

<class 'float'>

In [14]:
# string 

print (type('Hello'))

<class 'str'>

In [17]:
# complex 

print (type(10+3j))

<class 'complex'>

In [18]:
# List


print (type([1,2,3]))

<class 'list'>

In [22]:
# Dictonary 

print (type({'name':'Tarun'}))
# How to add more values to a dictonary?

<class 'dict'>

In [23]:
#set

print(type({2,3,4.5}))

<class 'set'>

In [27]:
# Tuple
print(type((1,2,4.5)))

<class 'tuple'>